<body class="d-flex flex-column h-100">


    <main class="flex-shrink-0">

        <div class="container">




            <div class='card'>
                <div class='card-header'>
                    <h5>Lista dei risultati</h5>
                </div>
                <div class='card-body'>
                    <button class="btn btn-primary" (click)="onAddNew()" href="#">Add New</button>
                    <a href="#" class='btn btn-outline-secondary'>
                        <i class='fa fa-chevron-left'></i> Torna alla Ricerca
                    </a>

                    <div class='table-responsive'>
                        <table class='table table-hover '>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Marca</th>
                                    <th>Modello</th>
                                    <th>Prezzo</th>
                                    <th>Data Produzione</th>
                                    <th>In Produzione</th>
                                    <th>Azioni</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let dispositivoItem of listaDispositivi">
                                <tr>
                                    <td>{{dispositivoItem.id}}</td>
                                    <td>{{dispositivoItem.marca}}</td>
                                    <td>{{dispositivoItem.modello}}</td>
                                    <td>{{dispositivoItem.prezzo}}</td>
                                    <td>{{dispositivoItem.dataProduzione | date:'dd/MM/yyyy' }}</td>
                                    <td>{{dispositivoItem.inProduzione?'SI':'NO'}}</td>
                                    <td>
                                        <button class="btn  btn-sm btn-outline-secondary"
                                            (click)="onPremiTasto(dispositivoItem.id)">Visualizza</button>
                                        <button class="btn  btn-sm btn-outline-danger"
                                            (click)="onDelete(dispositivoItem.id)">Delete</button>
                                        <button class="btn  btn-sm btn-outline-primary"
                                            (click)="onEdit(dispositivoItem.id)">Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>


            <!-- end container -->
        </div>
        <dsp-dispositivo-detail *ngIf="tastoPremuto" [dispositivo]="selectedDispositivo"></dsp-dispositivo-detail>
        <dsp-dispositivo-insert *ngIf="showNew" (notify)="onNotify($event)"></dsp-dispositivo-insert>
        <dsp-dispositivo-delete *ngIf="deleteToggle" (delete)="onNotifyDelete($event)"
            [dispositivo]="selectedDispositivo"></dsp-dispositivo-delete>
            <dsp-dispositivo-edit *ngIf="editToggle" (editNotify)="onNotifyEdit($event)" [dispositivo]="selectedDispositivo"></dsp-dispositivo-edit>
    </main>
</body>